<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome access ACL. </title>
    <link id="css" rel="stylesheet" type="text/css" href="/acl/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/acl/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/acl/easyui/demo.css">
    <script type="text/javascript" src="/acl/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/acl/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/acl/easyui/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="/acl/easyui/common.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#dlg').dialog('open');
        })

    </script>
</head>
<body class="easyui-layout">
<div id="dlg" class="easyui-dialog" title="欢迎登陆ACL" data-options="iconCls:'icon-save',closed:false" style="width:400px;height:200px;padding:10px">
    <div>
        $msg
    </div>
</div>
</body>
</html>