<script>
			function ssss() {
				var $jQuery =   jQuery.noConflict();  
				var checkPass = $('#bindRoleForm').form('validate');
				if(!checkPass){
					return;
					}
				$.messager.confirm("绑定确认","是否绑定角色", function (r) {
				    if (r) {
				    	$('#bindRoleForm').form('submit', {
				    	    url: "/acl/account/aclRole/bindRole.do?type=${type}",
				    	    onSubmit: function(param){
				    	        #if("aclAccount"==${type})
                                    param.aclAccountList = '${aclResourceList}';
								#else
                                    param.aclResourceList = '${aclResourceList}';
								#end
				    	    },
				    	    success: function (text) {
								$('#bindRole').dialog({
								    closed: true,
								});
							}
				    	});
					 }
			    });
			}
</script>

<form id="bindRoleForm" method="post">
	<div align="center">
	<span>先择角色:</span>
	<label>
		<select id="aclRoleId" name="aclRoleId" class="easyui-combobox" style="width: 150px; padding: 2px" required>
			#foreach( $elem in $roleList)
			  	<option value="$elem.getAclRoleId()">$elem.getRoleName()</option>
			#end
		</select>
	</label>
	
	<a id="bindBatchRole" class="easyui-linkbutton" style="width: 80px" onclick="ssss()">绑定</a>
	</div>
</form>


